<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OSIRT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<system.data>
    <DbProviderFactories>
    <remove invariant="System.Data.SQLite.EF6"/><add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
        description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/></DbProviderFactories>
  </system.data><userSettings>
        <OSIRT.Properties.Settings>
            <setting name="hash" serializeAs="String">
                <value />
            </setting>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteCacheOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hashContainerOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hashContainerOnLoad" serializeAs="String">
                <value />
            </setting>
        </OSIRT.Properties.Settings>
    </userSettings>
</configuration>